@font-face {
  font-family: 'billy_signature';
  font-style: normal;
  font-weight: normal;
  src: local('billy_signature'), url('./assets/font/billy_signature.otf') format("opentype");
}

@font-face {
  font-family: 'billy_signature_slant';
  font-style: normal;
  font-weight: normal;
  src: local('billy_signature_slant'), url('./assets/font/billy_signature_slant.ttf') format("truetype");
}